BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
BODY {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #f6f6f6; FONT: 12px/1.6em "宋体",Arial, Helvetica, sans-serif
}
A {
	COLOR: #1667a9; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both
}
.clearfix {
	ZOOM: 1
}
.clear {
	CLEAR: both
}
IMG {
	BEHAVIOR: url(/css/v2/iepngfix.htc)
}
.pngie6 {
	BEHAVIOR: url(/css/v2/iepngfix.htc)
}
.btn3_v2 {
	BEHAVIOR: url(/css/v2/iepngfix.htc)
}
TEXTAREA {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
.bg {
	BACKGROUND: url(../../images/nav.png) #f6f6f5 repeat-x left -700px
}
.container {
	MARGIN: 0px auto; WIDTH: 950px; OVERFLOW: hidden
}
.new {
	LINE-HEIGHT: 1em; FONT-STYLE: normal; COLOR: #f00; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.important {
	COLOR: #c00
}
.blk {
	COLOR: #000
}
.blk40 {
	COLOR: #666
}
.blk60 {
	COLOR: #999
}
.stress {
	FONT-WEIGHT: bold
}
.normal {
	COLOR: #000
}
.normal_style {
	FONT-WEIGHT: 400
}
.reduction {
	COLOR: #666
}
.separator {
	MARGIN: 0px 5px
}
.space_t {
	MARGIN-TOP: 10px
}
.hand {
	CURSOR: pointer
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.text_r {
	TEXT-ALIGN: right
}
.text_c {
	TEXT-ALIGN: center
}
.space_l_r {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.space_dashed {
	PADDING-BOTTOM: 15px; MARGIN-BOTTOM: 15px
}
.middot_grey {
	PADDING-LEFT: 7px; BACKGROUND: url(../../images/middot.gif) no-repeat left 8px
}
.middot_blk {
	PADDING-LEFT: 7px; BACKGROUND: url(../../images/middot.gif) no-repeat left 8px
}
.middot_blk {
	BACKGROUND-POSITION: left -92px
}
.clear {
	CLEAR: both
}
.big {
	FONT-SIZE: 14px
}
.biger {
	FONT-SIZE: 16px
}
.indent_first {
	TEXT-INDENT: 2em
}
.indent_hang {
	PADDING-LEFT: 2em
}
.min_height {
	MIN-HEIGHT: 770px; HEIGHT: 770px; OVERFLOW: visible
}
.align_c {
	TEXT-ALIGN: center
}
.underline {
	TEXT-DECORATION: underline
}
.product {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f6f6f5; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.product_c {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.product_c H3 {
	COLOR: #000; FONT-SIZE: 14px
}
.download {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 12px; PADDING-RIGHT: 28px; BACKGROUND: url(../../images/download.gif) no-repeat left top; LETTER-SPACING: 0.2em; COLOR: #101c5a; PADDING-TOP: 5px
}
A.download:hover {
	TEXT-DECORATION: none
}
H3 {
	MARGIN-BOTTOM: 10px; COLOR: #000; FONT-SIZE: 14px
}
H2 {
	MARGIN-BOTTOM: 10px; COLOR: #000; FONT-SIZE: 14px
}
H3 A {
	COLOR: #000
}
H2 A {
	COLOR: #000
}
H3 A.important {
	COLOR: #c00
}
H2 A.important {
	COLOR: #c00
}
.more {
	MARGIN-LEFT: 15px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
H3 .more {
	COLOR: #000
}
.mod {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.mod_a {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.mod_a .pad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.dashed {
	BORDER-BOTTOM: #b2b2b2 1px dashed
}
HR.dashed {
	BORDER-BOTTOM: #b2b2b2 1px dashed; BORDER-LEFT: medium none; MARGIN: 15px 0px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.head {
	TEXT-ALIGN: left
}
.nav_sub {
	TEXT-ALIGN: left
}
.recommendatory {
	TEXT-ALIGN: left
}
.content {
	TEXT-ALIGN: left
}
.column {
	TEXT-ALIGN: left
}
.main {
	WIDTH: 700px; OVERFLOW: hidden
}
.main .mod {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 15px
}
.main .nopad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.main .nopad H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 15px
}
.sider {
	WIDTH: 240px; OVERFLOW: hidden
}
.sider .mod {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.sider .list LI {
	LINE-HEIGHT: 22px; WIDTH: 200px; HEIGHT: 22px; OVERFLOW: hidden
}
.sider .list .middot_grey {
	BACKGROUND-POSITION: left 10px
}
.column .mod {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.column .product .list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 40px; BACKGROUND: url(../../images/icon16.gif) no-repeat left top; PADDING-TOP: 0px
}
.column .product .list .icon_duba {
	BACKGROUND-POSITION: left top
}
.column .product .list .icon_kis {
	BACKGROUND-POSITION: left top
}
.column .product .list .icon_ws {
	BACKGROUND-POSITION: left -240px
}
.column .product .list .icon_kn {
	BACKGROUND-POSITION: left -300px
}
.column .product .list .icon_wd {
	BACKGROUND-POSITION: left -120px
}
.column .product .list .icon_jjx {
	BACKGROUND-POSITION: left -60px
}
.column .product .list .icon_sjws {
	BACKGROUND-POSITION: left -180px
}
.column .product .list .icon_tp {
	BACKGROUND-POSITION: left -360px
}
.glory .list {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 10px
}
.glory_list {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 10px
}
.glory .list LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 170px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(../../images/authentication.gif) no-repeat left top; OVERFLOW: hidden; PADDING-TOP: 80px
}
.glory_list LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 170px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(../../images/authentication.gif) no-repeat left top; OVERFLOW: hidden; PADDING-TOP: 80px
}
.glory .list .vb {
	BACKGROUND-POSITION: 50px -750px
}
.glory_list .vb {
	BACKGROUND-POSITION: 50px -750px
}
.glory .list .international {
	BACKGROUND-POSITION: 50px -1000px
}
.glory_list .international {
	BACKGROUND-POSITION: 50px -1000px
}
.glory .list .yellowtag {
	BACKGROUND-POSITION: 40px -1500px
}
.glory_list .yellowtag {
	BACKGROUND-POSITION: 40px -1500px
}
.glory .list .microvirus {
	BACKGROUND-POSITION: 40px -1250px
}
.glory_list .microvirus {
	BACKGROUND-POSITION: 40px -1250px
}
.glory .list .avc {
	BACKGROUND-POSITION: 50px -250px
}
.glory_list .avc {
	BACKGROUND-POSITION: 50px -250px
}
.glory .list .win {
	BACKGROUND-POSITION: 50px 0px
}
.glory_list .win {
	BACKGROUND-POSITION: 50px 0px
}
.glory .list .brand {
	BACKGROUND-POSITION: 45px -500px
}
.glory_list .brand {
	BACKGROUND-POSITION: 45px -500px
}
.glory .list .micro {
	BACKGROUND-POSITION: 40px -1750px
}
.glory_list .micro {
	BACKGROUND-POSITION: 40px -1750px
}
.glory_list {
	PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
.glory_list LI {
	MARGIN-LEFT: 25px; MARGIN-RIGHT: 25px
}
.sidelist {
	MARGIN-TOP: -10px
}
.sidelist .download {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 12px; PADDING-RIGHT: 24px; PADDING-TOP: 5px
}
.sidelist LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.sidelist .info {
	WIDTH: 140px; OVERFLOW: hidden
}
.sidelist .btn {
	LINE-HEIGHT: 22px; WIDTH: 65px; HEIGHT: 22px; PADDING-TOP: 8px
}
.downlist {
	COLOR: #555
}
.downlist LI {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 60px; WIDTH: 220px; PADDING-RIGHT: 42px; BACKGROUND: url(../../images/icon.jpg) no-repeat left 15px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.downlist .ic {
	BACKGROUND: url(../../images/icon2.jpg) no-repeat left 15px
}
.downlist LI SPAN.middot_grey {
	BACKGROUND-POSITION: left 5px; MARGIN-LEFT: 10px
}
.downlist .icon_jjx {
	BACKGROUND-POSITION: left -180px
}
.downlist .icon_doct {
	BACKGROUND-POSITION: left 20px
}
.downlist .icon_trojan {
	BACKGROUND-POSITION: left -1180px
}
.downlist .icon_folder {
	BACKGROUND-POSITION: left -980px
}
.downlist .icon_md5 {
	BACKGROUND-POSITION: left -780px
}
.downlist .icon_systime {
	BACKGROUND-POSITION: left -380px
}
.downlist .icon_ime {
	BACKGROUND-POSITION: left -580px
}
.downlist .icon_kis {
	BACKGROUND-POSITION: left -2380px
}
.downlist .icon_duba {
	BACKGROUND-POSITION: left -1780px
}
.downlist .icon_ws {
	BACKGROUND-POSITION: left -1580px
}
.downlist .icon_kn {
	BACKGROUND-POSITION: left -1380px
}
.downlist .icon_online {
	BACKGROUND-POSITION: left -4180px
}
.downlist .icon_phonews {
	BACKGROUND-POSITION: left -3980px
}
.downlist .icon_wd {
	BACKGROUND-POSITION: left -3580px
}
.downlist .icon_mb {
	BACKGROUND-POSITION: left -3780px
}
.downlist .icon_soft {
	BACKGROUND-POSITION: left -3180px
}
.downlist .icon_zs {
	BACKGROUND-POSITION: left -3380px
}
.downlist .icon_maintenance {
	BACKGROUND-POSITION: left -2980px
}
.downlist .icon_jsbk {
	BACKGROUND-POSITION: left -2780px
}
.downlist .icon_bkbk {
	BACKGROUND-POSITION: left -2580px
}
.downlist .icon_jsnav {
	BACKGROUND-POSITION: left -1980px
}
.downlist .icon_bknav {
	BACKGROUND-POSITION: left -2180px
}
.downlist .icon_privacy {
	BACKGROUND-POSITION: left -4380px
}
.downlist .icon_bkma {
	BACKGROUND-POSITION: left -4580px
}
.downlist .icon_arp {
	BACKGROUND-POSITION: left -4780px
}
.downlist .icon_yx {
	BACKGROUND-POSITION: left -4980px
}
.downlist .icon_jsnav {
	BACKGROUND-POSITION: left -1980px
}
.downlist .icon_wssouce {
	BACKGROUND-POSITION: left -5180px
}
.downlist .icon_tDisk {
	BACKGROUND-POSITION: left -5380px
}
.downlist .icon_setup {
	BACKGROUND-POSITION: left -5580px
}
.downlist .icon_sharejl {
	BACKGROUND-POSITION: left -5780px
}
.downlist .icon_yd {
	BACKGROUND-POSITION: left 15px
}
.downlist .icon_shopping {
	BACKGROUND-POSITION: left -180px
}
.newslist {
	PADDING-TOP: 1px
}
.newslist LI {
	MARGIN: 8px 0px; HEIGHT: 1.6em; OVERFLOW: hidden
}
.list_a LI {
	MARGIN: 8px 0px
}
.ztlist {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.ztlist LI {
	MARGIN: 0px 10px; WIDTH: 90px; DISPLAY: inline; HEIGHT: 1.6em; OVERFLOW: hidden
}
.pagenumber {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.pagenumber A {
	PADDING-BOTTOM: 2px; MARGIN: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.pagenumber A:hover {
	COLOR: #000
}
.pagenumber A:active {
	COLOR: #f00
}
.pagenumber SPAN.current {
	PADDING-BOTTOM: 2px; MARGIN: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #000; FONT-WEIGHT: 700; PADDING-TOP: 2px
}
.pagenumber SPAN.disabled {
	PADDING-BOTTOM: 2px; MARGIN: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #ddd; PADDING-TOP: 2px
}
.attes_org .list {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.attes_org_list {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.attes_org .list LI {
	MARGIN: 10px 20px; WIDTH: 98px; DISPLAY: inline; OVERFLOW: hidden
}
.attes_org_list LI {
	MARGIN: 10px 20px; WIDTH: 98px; DISPLAY: inline; OVERFLOW: hidden
}
.attes_org .list LI A {
	DISPLAY: block; BACKGROUND: url(../../images/icon_org.png) no-repeat; PADDING-TOP: 60px
}
.attes_org_list LI A {
	DISPLAY: block; BACKGROUND: url(../../images/icon_org.png) no-repeat; PADDING-TOP: 60px
}
.attes_org .list .icsa {
	BACKGROUND-POSITION: 0px 0px
}
.attes_org_list .icsa {
	BACKGROUND-POSITION: 0px 0px
}
.attes_org .list .checkvir {
	BACKGROUND-POSITION: 0px -200px
}
.attes_org_list .checkvir {
	BACKGROUND-POSITION: 0px -200px
}
.attes_org .list .opswat {
	BACKGROUND-POSITION: 0px -400px
}
.attes_org_list .opswat {
	BACKGROUND-POSITION: 0px -400px
}
.attes_org .list .nsslab {
	BACKGROUND-POSITION: 0px -600px
}
.attes_org_list .nsslab {
	BACKGROUND-POSITION: 0px -600px
}
.attes_org .list .amtso {
	BACKGROUND-POSITION: 0px -800px
}
.attes_org_list .amtso {
	BACKGROUND-POSITION: 0px -800px
}
.attes_org .list .asc {
	BACKGROUND-POSITION: 0px -1000px
}
.attes_org_list .asc {
	BACKGROUND-POSITION: 0px -1000px
}
.attes_org .list .via {
	BACKGROUND-POSITION: 0px -1200px
}
.attes_org_list .via {
	BACKGROUND-POSITION: 0px -1200px
}
.attes_org .list .csa {
	BACKGROUND-POSITION: 0px -1400px
}
.attes_org_list .csa {
	BACKGROUND-POSITION: 0px -1400px
}
.attes_org .list .avTest {
	BACKGROUND-POSITION: 0px -1600px
}
.attes_org_list .avTest {
	BACKGROUND-POSITION: 0px -1600px
}
.attes_org .list .virusBull {
	BACKGROUND-POSITION: 0px -1800px
}
.attes_org_list .virusBull {
	BACKGROUND-POSITION: 0px -1800px
}
.attes_org_list LI {
	MARGIN-LEFT: 55px; MARGIN-RIGHT: 30px
}
.sp5dt H3 {
	MARGIN: 20px 0px 30px; FONT-SIZE: 24px
}
.sp5dt .gru2 {
	MARGIN: -4px; FONT-SIZE: 14px
}
.v2 .sidelist .info {
	WIDTH: 120px; OVERFLOW: hidden
}
.v2 .sidelist .btn1_v2 {
	MARGIN-TOP: 8px
}
H3 {
	MARGIN-BOTTOM: 10px; COLOR: #000; FONT-SIZE: 14px
}
.v2 A {
	COLOR: #6d6d6d; TEXT-DECORATION: none
}
.v2 A:hover {
	COLOR: #1a1a1a; TEXT-DECORATION: none
}
.v2 {
	COLOR: #6d6d6d
}
.v2 .blu {
	COLOR: #0066aa
}
.v2 .blk {
	COLOR: #000
}
.v2 .important {
	COLOR: #c00
}
.v2 .blk20 {
	COLOR: #333
}
.border_r {
	BORDER-RIGHT: #dbdbdb 1px solid
}
.q {
	DISPLAY: block
}
.posi_r {
	POSITION: relative
}
.ht {
	FONT-FAMILY: "微软雅黑", "黑体", "宋体"
}
.en {
	FONT-FAMILY: Tahoma, Arial, sans-serif
}
.sepa_l {
	MARGIN-LEFT: 30px
}
.sepa_rs {
	MARGIN-RIGHT: 20px
}
.sepa_ls {
	MARGIN-LEFT: 20px
}
.space_t_v2 {
	MARGIN-TOP: 20px
}
.mod_v2 {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
.mod2_v2 {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
.mod2_v2 {
	color: #000;
	background-color: #FFF;
	background-image: url(../../images/v2/repeatX_pro.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
	font-weight: bolder;
}
.mod_in1 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; PADDING-TOP: 20px
}
.mod_in2 {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; PADDING-TOP: 25px
}
.box_txt1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 2em; PADDING-LEFT: 30px; WIDTH: 360px; PADDING-RIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.box_ill1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; WIDTH: 410px; PADDING-RIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.pad_b1 {

}
.lh1 {
	LINE-HEIGHT: 1.6em
}
.lh2 {
	LINE-HEIGHT: 1.8em
}
.fs1 {
	LINE-HEIGHT: 1.6em; FONT-SIZE: 14px
}
.fs5 {
	LINE-HEIGHT: 1.6em; FONT-SIZE: 14px
}
.fs5 {
	LINE-HEIGHT: 1.8em
}
.fs2 {
	LINE-HEIGHT: 1.6em; FONT-SIZE: 20px
}
.fs3 {
	LINE-HEIGHT: 1.6em; FONT-SIZE: 30px
}
.fs4 {
	LINE-HEIGHT: 1.2em; FONT-SIZE: 50px
}
.intit {
	FONT-FAMILY: "宋体",Arial, Helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: 400
}
HR.solid_v2 {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: medium none; MARGIN: 8px 30px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
HR.solid2_v2 {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: medium none; MARGIN: 8px 30px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
HR.solid2_v2 {
	MARGIN: 8px auto
}
.tit1_v2 {
	LINE-HEIGHT: 1.6em; MARGIN-BOTTOM: 10px; COLOR: #000; FONT-SIZE: 20px
}
.tit2_v2 {
	LINE-HEIGHT: 35px; WIDTH: 285px; HEIGHT: 30px; FONT-SIZE: 30px; OVERFLOW: hidden
}
.tit3_v2 {
	LINE-HEIGHT: 1.5em; MARGIN: 10px 0px
}
.tit3_v2 .fs4 {
	LINE-HEIGHT: 1.4em
}
.v2 .btn1_v2 {
	BORDER-BOTTOM: #205891 1px solid; BORDER-LEFT: #0dacee 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #1e6fb0; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline-block; COLOR: #fff; BORDER-TOP: #0dacee 1px solid; BORDER-RIGHT: #205891 1px solid; PADDING-TOP: 3px
}
.v2 .btn1_v2:hover {
	COLOR: #fff
}
.v2 .btn3_v2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 65px; WIDTH: 273px; PADDING-RIGHT: 0px; BACKGROUND: url(../../images/v2/ban_btn1.png) no-repeat 0px 0px; HEIGHT: 70px; COLOR: #fff; FONT-SIZE: 38px; CURSOR: pointer; PADDING-TOP: 15px
}
.v2 .btn3_v2:hover {
	BACKGROUND-POSITION: 0px -100px; COLOR: #fff
}
.v2 .btn3_v2:active {
	BACKGROUND-POSITION: 0px -200px; COLOR: #fff
}
.v2 .btn_zs {
	MARGIN-TOP: 25px
}
.btn_align {
	MARGIN-TOP: 75px
}
.new_v2 {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.new1_v2 {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.concern A {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.version .cur_ver {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.pro_lst1 .feedback A {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.free {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.arrow_r {
	BACKGROUND: url(../../images/v2/ui.png) no-repeat
}
.new_v2 {
	POSITION: absolute; WIDTH: 32px; DISPLAY: block; BACKGROUND-POSITION: 0px -200px; HEIGHT: 32px; TOP: 0px; RIGHT: 0px
}
.new1_v2 {
	POSITION: relative; PADDING-BOTTOM: 6px; LINE-HEIGHT: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 23px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -900px; HEIGHT: 0px; MARGIN-LEFT: 3px; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: -3px; PADDING-TOP: 6px
}
.hot_v2 {
	LINE-HEIGHT: 1.6em; MARGIN-LEFT: 5px; VERTICAL-ALIGN: top
}
.hot {
	PADDING-LEFT: 24px; BACKGROUND: url(../../images/v2/ico_hot.png) no-repeat; MARGIN-LEFT: 5px
}
.new_line {
	PADDING-LEFT: 24px; BACKGROUND: url(../../images/v2/ico_new.png) no-repeat; MARGIN-LEFT: 5px
}
.free {
	POSITION: absolute; WIDTH: 133px; BACKGROUND-POSITION: 0px -600px; HEIGHT: 133px; OVERFLOW: hidden; TOP: 0px; RIGHT: 0px
}
.arrow_r {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: right -798px
}
.arrow_r:hover {
	BACKGROUND-POSITION: right -848px
}
.big .arrow_r {
	BACKGROUND-POSITION: right -797px
}
.big .arrow_r:hover {
	BACKGROUND-POSITION: right -847px
}
.container_v2 {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 960px; OVERFLOW: hidden
}
.container_v2 .main {
	WIDTH: 710px
}
.head_v2 {
	BACKGROUND: url(../../images/v2/nav.png) no-repeat
}
.nav_v2 LI {
	BACKGROUND: url(../../images/v2/nav.png) no-repeat
}
.nav_v2 .current_v2 A {
	BACKGROUND: url(../../images/v2/nav.png) no-repeat
}
.head_v2 {
	PADDING-BOTTOM: 3px; MARGIN-TOP: 10px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 39px; OVERFLOW: visible
}
.logo_v2 {
	MARGIN-TOP: 6px; PADDING-LEFT: 15px; WIDTH: 119px; HEIGHT: 31px; OVERFLOW: hidden
}
.nav_v2 {
	PADDING-RIGHT: 15px
}
.nav_v2 LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 0px; WIDTH: 85px; PADDING-RIGHT: 2px; BACKGROUND-POSITION: right -50px; HEIGHT: 38px; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 1px
}
.nav_v2 LI A {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 38px; COLOR: #fff; OVERFLOW: hidden
}
.nav_v2 .current_v2 A {
	BACKGROUND-POSITION: 0px -100px; CURSOR: default; FONT-WEIGHT: 700
}
.nav_v2 A:hover {
	COLOR: #fff
}
.search_v2 {
	Z-INDEX: 9999; POSITION: relative; MARGIN: 8px 14px 0px 0px; WIDTH: 154px; DISPLAY: inline
}
.search_v2 .input {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../../images/v2/search_bg.gif) no-repeat; FLOAT: left; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.search_v2 .ipt {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../../images/v2/search_bg.gif) no-repeat; FLOAT: left; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.search_v2 .search_Btn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../../images/v2/search_bg.gif) no-repeat; FLOAT: left; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.search_v2 .btn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../../images/v2/search_bg.gif) no-repeat; FLOAT: left; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.search_v2 .input {
	LINE-HEIGHT: 24px; PADDING-LEFT: 4px; WIDTH: 120px; HEIGHT: 24px
}
.search_v2 .ipt {
	LINE-HEIGHT: 24px; PADDING-LEFT: 4px; WIDTH: 120px; HEIGHT: 24px
}
.search_v2 .search_Btn {
	WIDTH: 26px; HEIGHT: 24px
}
.search_v2 .btn {
	WIDTH: 26px; HEIGHT: 24px
}
.search_v2 .input {
	BACKGROUND-POSITION: 0px 0px; COLOR: #999
}
.search_v2 .ipt {
	BACKGROUND-POSITION: 0px -41px; COLOR: #000
}
.search_v2 .search_Btn {
	BACKGROUND-POSITION: 0px -69px
}
.search_v2 .btn {
	BACKGROUND-POSITION: -31px -69px
}
.search_v2 TABLE TD {
	LINE-HEIGHT: 22px; FONT-SIZE: 12px
}
.search_v2 .tabBJ {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 152px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 6px
}
#suggests {
	Z-INDEX: 10000; POSITION: absolute; TOP: 24px; LEFT: 0px
}
.feature_lst1 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 80px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.feature_lst1 LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; WIDTH: 245px; PADDING-RIGHT: 15px; DISPLAY: inline; HEIGHT: 70px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.feature_lst1 .pic_v2 {
	WIDTH: 66px; OVERFLOW: hidden
}
.feature_lst1 .info_v2 {
	WIDTH: 170px; OVERFLOW: hidden
}
.feature_lst1 .max {
	WIDTH: 376px
}
.feature_lst1 .max .info_v2 {
	WIDTH: 300px; OVERFLOW: hidden
}
.footer_v2 {
	PADDING-BOTTOM: 30px; BACKGROUND-COLOR: #f9f9f9; MARGIN-TOP: 20px; BORDER-TOP: #e3e3e3 1px solid
}
.foot_lst {
	BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-LEFT: 20px; WIDTH: 118px; PADDING-RIGHT: 20px; HEIGHT: 150px; OVERFLOW: hidden; BORDER-RIGHT: #dbdbdb 1px solid; PADDING-TOP: 10px
}
.first {
	BORDER-LEFT: medium none
}
.last {
	BORDER-RIGHT: medium none
}
.foot_lst DT {
	MARGIN-BOTTOM: 5px; FONT-WEIGHT: 700
}
.links_v2 {
	BORDER-BOTTOM: #dbdbdb 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.links_v2 A {
	MARGIN: 0px 10px
}
.box_foot1 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 10px
}
.copyright_v2 IMG {
	VERTICAL-ALIGN: middle
}
.copyright_v2 .txt {
	MARGIN-LEFT: 20px; VERTICAL-ALIGN: middle
}
.concern .txt {
	LINE-HEIGHT: 16px; VERTICAL-ALIGN: middle
}
.concern A {
	TEXT-INDENT: -9999px; MARGIN: 0px 3px; WIDTH: 16px; DISPLAY: inline-block; HEIGHT: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.concern A.sina {
	BACKGROUND-POSITION: 0px -350px
}
.concern A.sina:hover {
	BACKGROUND-POSITION: 0px -300px
}
.concern A.tx {
	BACKGROUND-POSITION: 0px -450px
}
.concern A.tx:hover {
	BACKGROUND-POSITION: 0px -400px
}
.version {
	MARGIN-RIGHT: 40px
}
.version .cur_ver {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 12px; WIDTH: 65px; PADDING-RIGHT: 25px; HEIGHT: 20px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 2px
}
.version .sel_lst {
	POSITION: absolute; BORDER-LEFT: #e3e3e3 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 100px; DISPLAY: none; TOP: -46px; BORDER-RIGHT: #e3e3e3 1px solid; LEFT: 0px
}
.version .sel_lst A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; HEIGHT: 20px; BORDER-TOP: #e3e3e3 1px solid; PADDING-TOP: 2px
}
.version .sel_lst A:hover {
	BACKGROUND-COLOR: #f9f9f9
}
.plate {
	MARGIN-TOP: 20px; HEIGHT: 35px; OVERFLOW: hidden
}
.plate .btn1_v2 {
	MARGIN-TOP: 5px
}
.pro_nav {
	MARGIN-TOP: 15px; DISPLAY: inline; MARGIN-RIGHT: 10px
}
.pro_nav LI {
	MARGIN: 0px 20px; DISPLAY: inline
}
.fun_lst LI {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; WIDTH: 239px; MARGIN-LEFT: -1px; OVERFLOW: hidden; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
.fun_lst .first {
	WIDTH: 238px; MARGIN-LEFT: 0px
}
.fun_lst .alt_bg {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 18px; PADDING-RIGHT: 20px; BACKGROUND: url(../../images/v2/repeatX_pro.png) #fff repeat-x 0px bottom; HEIGHT: 260px; CURSOR: pointer; PADDING-TOP: 15px
}
.fun_lst .nohand {
	CURSOR: default
}
.fun_lst .alt_bg:hover {
	BACKGROUND-POSITION: 0px top
}
.fun_lst .txt {
	LINE-HEIGHT: 1.6em; COLOR: #000
}
.fun_lst .illustartor {
	POSITION: absolute; WIDTH: 198px; BOTTOM: 10px; OVERFLOW: hidden
}
.fun_self {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.fun_self LI {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 290px; PADDING-RIGHT: 5px; HEIGHT: 60px; OVERFLOW: hidden; PADDING-TOP: 15px
}
.fun_self .pic {
	WIDTH: 50px; DISPLAY: inline; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
.fun_self .info {
	WIDTH: 230px; OVERFLOW: hidden
}
.fun_self .tit {
	MARGIN-BOTTOM: 5px
}
.share {
	MARGIN-TOP: 20px; PADDING-TOP: 3px
}
.pro_lst1_tit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 15px
}
.help_lst_tit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 15px
}
.func_tit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 15px
}
.space_tit1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 15px
}
.space_tit2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 15px
}
.pro_lst1 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 10px
}
.pro_lst2 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 10px
}
.pro_lst1 LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; WIDTH: 316px; PADDING-RIGHT: 15px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.pro_lst2 LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; WIDTH: 316px; PADDING-RIGHT: 15px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.pro_lst1 .pic_v2 {
	WIDTH: 75px; OVERFLOW: hidden
}
.pro_lst1 .info_v2 {
	WIDTH: 191px; OVERFLOW: hidden
}
.pro_lst1 .feedback {
	MARGIN-TOP: 10px
}
.pro_lst1 .feedback A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(../../images/v2/ui.png) no-repeat; MARGIN-RIGHT: 10px; PADDING-TOP: 2px
}
.pro_lst1 .feedback .bbs {
	BACKGROUND-POSITION: 0px -500px
}
.pro_lst1 .feedback .sian {
	BACKGROUND-POSITION: 0px -300px
}
.pro_lst1 .feedback .tqq {
	BACKGROUND-POSITION: 0px -400px
}
.pro_lst2 .pic_v2 {
	WIDTH: 316px; OVERFLOW: hidden
}
.pro_lst2 .info_v2 {
	WIDTH: 280px; OVERFLOW: hidden
}
.help_lst {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 15px; PADDING-TOP: 5px
}
.help_lst LI {
	LINE-HEIGHT: 1.6em; MARGIN: 2px 10px; WIDTH: 112px; DISPLAY: inline; HEIGHT: 1.6em; OVERFLOW: hidden
}
.main_v2 {
	WIDTH: 640px; OVERFLOW: hidden
}
.siadbar_v2 {
	WIDTH: 300px; OVERFLOW: hidden
}
.link_lst {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 15px; PADDING-TOP: 5px
}
.link_lst LI {
	LINE-HEIGHT: 1.6em; MARGIN: 2px 10px; DISPLAY: inline; HEIGHT: 1.6em; OVERFLOW: hidden
}
.middot_eduba {
	PADDING-LEFT: 10px; BACKGROUND: url(../../images/v2/eduba/middot_eduba.gif) no-repeat 0px 11px
}

.cc {
	padding-right: 10px;
	padding-left: 10px;
	color: #000;
	font-size: 12px;
	font-weight: bolder;
	padding-bottom: 5px;
	background-image: url(../../images/V2/ss.png);
	background-repeat: no-repeat;
}
